<section id="login" class="<%='rtl' if I18n.locale == :ar%> ">
  <div class="login-wrapper">
    <h2><%= params[:driver] == "1" ? t('signup.new_driver') : t('signup.title') %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag 'locale', I18n.locale %>
      <% if params[:driver] == "1"%>
        <%= f.input :driver, value: true, input_html: {checked: true, hidden: true}, label_html: {hidden: true} %>
      <% end %>
      <div class="form-inputs">
        <div class="group">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :first_name, label: t('signup.first_name'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :last_name, label: t('signup.last_name'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :country_code, as: :select,  input_html: {id: 'authy-countries', data: {show_as: 'number', value: '+212'}},
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :country_code, for: 'country-code-0', label: t('signup.country_code'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :phone,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :phone, label: t('signup.phone'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" } ,
                      autofocus: true, wrapper: false, label: false %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :password, label: t('signup.password'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } ,
                      autofocus: true, wrapper: false, label: false %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= content_for(:the_links) do %>
            Accepter les <%= link_to "Conditions d'utilisation", cgu_path, remote: true %>
          <% end %>
          <%= f.label :password_confirmation, label: t('signup.confirmation'), class: 'material' %>
        </div>
      </div>
      <%= f.input :terms, label: content_for(:the_links), label_html: {class: 'checkbox-label'}  %>
      <div class="form-actions flex-center">
        <%= f.button :submit, t('signup.submit'), class: 'btn btn-success btn-rCab', id: 'signup-btn', disabled: !resource.terms %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
    <% if params[:driver] != "1"%>
      <%= link_to t('signup.new_driver'), "/#{I18n.locale}#{new_registration_path(:user)}?driver=1" %><br />
<% end %>
<% if params[:driver] == "1"%>
  <%= link_to t('devise.signup'), "/#{I18n.locale}#{new_registration_path(resource_name)}" %><br />
<% end %>
</div>
</section>
