<section id="login">
  <div class="login-wrapper">
    <h2><%= t('signup.title') %></h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag 'locale', I18n.locale %>
      <div class="form-inputs">
        <div class="group">
          <%= f.input :first_name,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :first_name, label: t('signup.first_name'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :last_name,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :last_name, label: t('signup.last_name'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :country_code, as: :select,  input_html: {id: 'authy-countries', data: {show_as: 'number', value: '+212'}},
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :country_code, for: 'country-code-0', label: t('signup.country_code'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :phone,
                      required: true,
                      autofocus: true , wrapper: false, label: false%>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :phone, label: t('signup.phone'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :password,
                      required: true,
                      input_html: { autocomplete: "new-password" } ,
                      autofocus: true, wrapper: false, label: false %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :password, label: t('signup.password'), class: 'material' %>
        </div>
        <div class="group">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } ,
                      autofocus: true, wrapper: false, label: false %>
          <span class="highlight"></span>
          <span class="bar"></span>
          <%= f.label :password_confirmation, label: t('signup.confirmation'), class: 'material' %>
        </div>
      </div>
      <div class="form-actions flex-center">
        <%= f.button :submit, t('signup.submit'), class: 'btn btn-lg btn-success btn-rCab' %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</section>
