<section id="home-banner">
  <% if user_signed_in? %>
    <%= render 'pages/partials/home_banner' %>
  <% else %>
    <%= render 'pages/partials/carousel' %>
  <% end %>
</section>
<section id="home-content" class="<%='rtl' if I18n.locale == :ar%>">
  <h2 class="home-title"><%= t('home.why.title') %></h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <div class="home-card">
          <div class="card-img">
            <%= svg 'delivery' %>
          </div>
          <div class="card-txt">
            <p><%= t('home.why.card1') %></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-card">
          <div class="card-img">
            <%= svg 'map_dark' %>
          </div>
          <div class="card-txt">
            <p><%= t('home.why.card2') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-video">
    <div class="embedresize">
      <div>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MCeqsgFBnjs?el=0&modestbranding=1&autohide=1&mute=1&showinfo=1&autoplay=1&start=0&version=3&loop=1&playlist=MCeqsgFBnjs&autoplay=1&controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
      </div>
    </div>
  </div>

  <h2 class="home-title"><%= t('home.how.title') %></h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="home-card">
          <p class="card-number">1</p>
          <div class="card-img">
            <%= svg 'bus_stop' %>
          </div>
          <div class="card-txt">
            <%= (t('home.how.card1')) %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="home-card">
          <p class="card-number">2</p>
          <div class="card-img">
            <%= svg 'bus_stop' %>
          </div>
          <div class="card-txt">
            <%= (t('home.how.card2')) %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="home-card">
          <p class="card-number">3</p>
          <div class="card-img">
            <%= svg 'map_light' %>
          </div>
          <div class="card-txt">
            <%= (t('home.how.card3')) %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="home-card">
          <p class="card-number">4</p>
          <div class="card-img">
            <%= svg 'adventure' %>
          </div>
          <div class="card-txt">
            <%= (t('home.how.card4')) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
