<section id="home-banner">
  <div class="banner-wrapper">
    <h1>rCab Header text</h1>
    <h4>Lorem ipsum some call to action on this line more text</h4>
    <% if !user_signed_in? || policy(Course).new? %>
      <%= link_to 'Voyagez maintenant!', new_course_path, class: 'btn btn-success btn-lg btn-rCab' %>
    <% end %>
  </div>
</section>


<section id="home-content">
  <h2 class="home-title">Why rCab?</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4">
        <div class="home-card">
          <div class="card-img">
            <%= svg 'delivery' %>
          </div>
          <div class="card-txt">
            <p>Some text about why rCab</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-card">
          <div class="card-img">
            <%= svg 'map_dark' %>
          </div>
          <div class="card-txt">
            <p>Some text about why rCab</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2 class="home-title">How it Works</h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="home-card">
          <p class="card-number">1</p>
          <div class="card-img">
            <%= svg 'bus_stop' %>
          </div>
          <div class="card-txt">
            <p>Some text about how rCab Works</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-card">
          <p class="card-number">2</p>
          <div class="card-img">
            <%= svg 'map_light' %>
          </div>
          <div class="card-txt">
            <p>Some text about how rCab Works</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="home-card">
          <p class="card-number">3</p>
          <div class="card-img">
            <%= svg 'adventure' %>
          </div>
          <div class="card-txt">
            <p>Some text about how rCab Works</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
