<section id="driver_card">
  <div class="container" id='course-status' data-id="<%= @course.id%>" data-user='client'>
    <%= render 'client_status', course: @course %>
  </div>
</section>
<div
  id="map-dir"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-with-inputs='false'
    data-course="<%=@course.id%>"
  data-driver="<%=current_user.driver%>"
></div>
<%#= link_to 'Edit', edit_course_path(@course) %>
<%#= link_to 'Back', courses_path %>
