<section id="course_card" class='mt-3'>
  <div class="container">
    <h4 class = "text-center">الرحلات</h4>
    <div class="flex-center my-3">
      <%= link_to 'رحلة جديدة', new_course_path, class: 'btn btn-success btn-rCab' %>
    </div>
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-12 col-md-4">
          <%= link_to client_course_path(course) do %>
            <div class="card">
              <h6>
                <%= course.created_at.strftime('%d/%m/%y') %> - <%=course.created_at.strftime('%R') %>
              </h6>
              <%= card_content_p(': منین', course.start_address) %>
              <%= card_content_p(': تالین', course.end_address) %>
              <%= card_content_p(': التمن', course.price) %>
              <% unless course.note.nil? %>
                <div class="flex-center">
                  <div class="course-note" data-note='<%=course.note%>'></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<br>
