<section id="course_card" class='mt-3'>
  <div class="container">
    <h4 class = "text-center"><%= t('dashboard.title') %></h4>
    <div class="flex-center my-3">
      <%= link_to t('dashboard.new_course_btn'), new_course_path(I18n.locale), class: 'btn btn-success btn-rCab' %>
    </div>
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-12 col-md-4">
          <%= link_to client_course_path(I18n.locale, course) do %>
            <div class="card <%='rtl' if I18n.locale == :ar%>">
              <h6>
                <%= course.created_at.strftime('%d/%m/%y') %> - <%=course.created_at.strftime('%R') %>
              </h6>
              <%= card_content_p(t('course_card.start_address'), course.start_address) %>
              <%= card_content_p(t('course_card.end_address'), course.end_address) %>
              <%= card_content_p(t('course_card.price'), course.price.round(2)) %>
              <%= card_content_p(t('course_card.duration'), course.duration.round(2)) %>
              <% unless course.note.nil? %>
                <div class="flex-center">
                  <div class="course-note" data-note='<%=course.note%>'></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<br>
