<section id="driver_card">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4-offset">
        <div class="card <%='rtl' if I18n.locale == :ar%> ">
          <div class="flex-center">
            <% if @course.client.photo.blank? %>
              <img src="https://hadeplatform.com/img/default.png" class="avatar-large-bordered">
            <% else %>
              <%= cl_image_tag @course.client.photo, width: 40, height: 40, crop: :thumb, gravity: :face, class: "avatar-large-bordered" %>
            <% end %>
          </div>
          <div class="driver-info">
            <h4><%= t('client_card.title') %></h4>
            <%= card_content_p(t('client_card.name'), "#{@course.client.first_name} #{@course.client.last_name}") %>
            <%= card_content_p(t('client_card.phone'), @course.client.phone) %>
          </div>
          <div class="course-info">
            <h4><%= t('course_card.title') %></h4>
            <%= card_content_p(t('course_card.start_address'), @course.start_address) %>
            <%= card_content_p(t('course_card.end_address'), @course.end_address) %>
            <%= card_content_p(t('course_card.distance'), "#{@course.distance.round} km") %>
            <%= card_content_p(t('course_card.price'), @course.price) %>
          </div>
        </div>
      </div>
    </div>
    <div id="course-status" data-id="<%= @course.id%>" data-user='driver'>
      <%= render 'driver_status', course: @course %>
    </div>
  </div>
</section>
<div
  id="map-dir"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-with-input='false'
  data-course="<%=@course.id%>"
  data-driver="<%=current_user.driver%>"
  data-driver-id="<%=@course.driver.id%>"
  data-driver-last-lat="<%=@course.driver.last_lat%>"
  data-driver-last-lng="<%=@course.driver.last_lng%>"
></div>
<%#= link_to 'Edit', edit_course_path(@course) %>
<%#= link_to 'Back', courses_path %>
