<section id="course_card" class='mt-3'>
  <div class="container">
    <h4 class = "text-center">Dashboard</h4>
    <div class="flex-center">
      <button type="button" class="btn btn-success btn-rCab  my-3" data-toggle="modal"   data-target="#driverTotal" >
        Voir Total
      </button>
    </div>
    <div class="row">
      <% @courses.each do |course| %>
        <div class="col-12 col-md-4">
          <%= link_to driver_course_path(course) do %>
            <div class="card">
              <h6>
                <%= course.created_at.strftime('%d/%m/%y') %> - <%=course.created_at.strftime('%R') %>
              </h6>
              <%= card_content_p('Départ :', course.start_address) %>
              <%= card_content_p('Arrivé :', course.end_address) %>
              <%= card_content_p('Prix :', course.price) %>
              <% unless course.note.nil? %>
                <div class="flex-center">
                  <div class="course-note" data-note='<%=course.note%>'></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<br>
<!-- Modal -->
<div class="modal fade" id="driverTotal" tabindex="-1" role="dialog" aria-labelledby="driverTotalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" id="driverTotalLabel">Total</h5>
        <button data-dismiss= 'modal' class= 'close'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5>Nombre de courses</h5>
        <p><%= @courses.count %></p>
        <br>
        <h5>Total CA</h5>
        <p><%= @total_courses %> DH</p>
      </div>
      <div class="modal-footer">
        <button data-dismiss= 'modal' class= 'btn btn-success btn-rCab btn-rCab__sm' >Ok</button>
      </div>
    </div>
  </div>
</div>
